<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>surface-graphic</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">surface-graphic</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->


<ion-content [fullscreen]="true">

  <!-- <app-plotly-graphic [inputData]="data"
                      [inputLayout]="layout"
                      *ngIf="showSurface"
                      #plotContainer>

  </app-plotly-graphic> -->

  <div id="chart"></div>

</ion-content>
