<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Selección de Antena</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="antennaSettingsForm">
    <ion-grid class="ion-align-items-center ion-justify-content-center">
      <ion-row *ngFor="let antenna of antennasList; let index=index"
               formArrayName="antennaSelected">
  
        <ion-col size="1"
                  class="m-auto"
                  [formGroupName]="index">

          <ion-checkbox (ionChange)="changedAntenna($event, index)"
                        formControlName="checked">

          </ion-checkbox>

        </ion-col>
  
        <ion-col size="11">
          <ion-accordion-group>
            <ion-accordion>
        
              <ion-item slot="header" color="light">
                
                <ion-avatar slot="start"> 
                  <img src="{{antenna.imgPath}}">
                </ion-avatar>
                <ion-label>
                  <h2>{{antenna.name}}</h2>
                  <div fxLayout="row">
                    <span *ngFor="let frecuency of antenna.frecuency">
                      {{frecuency}} MHz -
                    </span>
                    <span *ngIf="antenna.txAntennaGain !== 0">{{antenna.txAntennaGain}} dBi</span>
                  </div>
                </ion-label>
              </ion-item>
        
              <div class="ion-padding" 
                   slot="content">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <p>
                        Frecuencia:

                        <span>
                          {{antenna.frecuency[0]}} MHz
                        </span>

                        <span *ngIf="antenna.frecuency[1]">
                          - {{antenna.frecuency[1]}} MHz
                        </span>
                      </p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <p *ngIf="antenna.txAntennaGain !== 0">Ganancia: {{antenna.txAntennaGain}} dBi</p>
                    </ion-col>
                  </ion-row>

                  <ion-row>

                    <ion-col size="6">

                      <ion-select placeholder="Modulación"
                                  (ionChange)="onModulationChange($event, index)">
                        <ion-select-option *ngFor="let modulation of antenna.antennaModulations" 
                                            value="{{modulation}}">{{modulation}}</ion-select-option>
                      </ion-select>

                    </ion-col>

                    <ion-col size="6">

                      <ion-select placeholder="Canal"
                                  (ionChange)="onChannelChange($event, index)">
                        <ion-select-option *ngFor="let channel of antenna.antennaChannels" 
                                            value="{{channel}}">{{channel}}</ion-select-option>
                      </ion-select>
                      
                    </ion-col>

                  </ion-row>

                  <ion-row>

                    <ion-col>

                      <p>
                        Sensibilidad del receptor:

                        <span>
                          {{antenna.rxSensitivitySelected.rxSensitivity}} dbm
                        </span>

                      </p>

                    </ion-col>

                  </ion-row>

                </ion-grid>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>



</ion-content>