<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary" class="ion-text-center">
      <ion-button (click)="signOut()">
        Cerrar sesión
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card-header>
    <ion-card-title>
      <h1>
        Bienvenido!
      </h1>
    </ion-card-title>
  </ion-card-header>

  <ion-card [formGroup]="linksForm"
            *ngIf="showLinkForm">

    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>

        <ion-row class="ion-align-items-center">

          <ion-col>
            Enlaces:
          </ion-col>

          <ion-col>

            <ion-select placeholder="Enlaces" 
                        formControlName="linkSelected"
                        (ionChange)="onSelectionChange($event)">
              <ion-select-option *ngFor="let link of settingsService.linkSettingsList" 
                                  value="{{link.linkName}}">{{link.linkName}}</ion-select-option>
            </ion-select>


          </ion-col>

        </ion-row>
        
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <div class="link-features-container">

        <h2>
          Características del enlace
        </h2>

        <ion-row>

          <ion-col>
            Antena seleccionada: {{settingsService.linkSettings.antennaSelected.name}}
          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col>
            Frecuencia de operacion: {{settingsService.linkSettings.antennaSelected.frecuency}}
          </ion-col>

          <ion-col>
            Ganancia de la antena: {{settingsService.linkSettings.antennaSelected.txAntennaGain}}
          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col>
            Pérdida de espacio libre: {{settingsService.linkSettings.antennaSelected.freeSpaceLoss}}
          </ion-col>
          
        </ion-row>

      </div>

    </ion-card-content>
    
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Gráficas de estudio:
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-row>
        <ion-col size="12">
          <ion-button (click)="navToProfileGraph()"
                      expand="full">

            <ion-icon slot="start" name="bar-chart"></ion-icon>

            Perfil de elevación
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button (click)="navToProfileGraph()"
                      expand="full">
            <ion-icon slot="start" name="sunny"></ion-icon>
            Atenuacion en Aire Seco

          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button (click)="navToProfileGraph()"
                      expand="full">
            <ion-icon slot="start" name="water"></ion-icon>
            Atenuacion debido a Vapor de Agua
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button (click)="navToPowerBudget()"
                      expand="full">
            <ion-icon slot="start" name="power"></ion-icon>
            Balance de Potencia
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-card-content>

  </ion-card>

</ion-content>
